<div class="sidebar" data-color="green" data-background-color="white">

    <div class="logo pt-1">
        <a href="/Product" class="simple-text logo-normal">
          <img src="./../assets/images/deliveggie_logo.jpg" style="width: 230px; height: 80px;">
        </a>
      </div>

    <div class="logo pt-1 pb-1"><a href="/Product" class="simple-text logo-normal">
            DeliVeggie
        </a>
    </div> 
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="/Product">
                    <i class="material-icons">view_list</i>
                    <p>Product</p>
                </a>
            </li>
        </ul>
    </div>
</div>