<div class="row">
    <div class="col-md-11" style=" margin:0 auto;">
        <div class="card" *ngIf="display==='list'">
            <div class="card-header card-header-success">
                <h4 class="card-title">Product List</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover" *ngIf="productList != null && productList.length > 0">
                    <tbody>
                        <tr *ngFor="let product of productList; let i=index">
                            <td style="width: 50px;">{{i+1}}</td>
                            <td> <a (click)="viewDetails(product.id,i)">
                                    <span style="color: blue; text-decoration: underline;cursor:pointer;">{{product.name}} </span> 
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" *ngIf="productList == null || productList.length == 0">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" [attr.colspan]="2">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" *ngIf="display==='details'">
            <div class="card-header card-header-success">
                <h4 class="card-title">Product Details</h4>
            </div>
            <div class="card-body table-responsive">
                <div class="row">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="width: 300px;">Id</td>
                                <td>{{product.id}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{product.name}}</td>
                            </tr>
                            <tr>
                                <td>Entry date</td>
                                <td>{{product.entryDate}}</td>
                            </tr>
                            <tr>
                                <td>Price for today (incl. reduction)</td>
                                <td>{{product.price}} &euro;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger float-right"
                            (click)="returnToList()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>